<nav class="navbar navbar-expand-lg hidden">
  <div class="container-fluid">
    <!-- NAVBAR BRAND LOGO BUTTON WITH ERB FUNCTION-->
    <a class="navbar-brand" href="#">ASHLEYS</a>
    <!-- NAVBAR DROPDOWN BUTTON (WHEN SCALED) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <!-- NAVBAR HOME -->
        <li class="nav-item">
          <%= link_to "Home", home_index_path, class:"nav-link"%>
        </li>
        <!-- NAVBAR CONTACTS -->
        <li class="nav-item">
          <%= link_to "Contacts", home_index_path, class:"nav-link"%>
        </li>

      </ul>
    </div>
  </div>
</nav>
