.navbar{
  background-color: #4f4f4d;
  height: 6vh;
}
.navbarcontainer{
  margin: 0 10vw 0;
}
.navbar-nav{
  color: white;
  text-decoration: none;
}
.ashleyslogo{
  background-image: linear-gradient(rgba(217,217,217,1), rgba(217,217,217,0));
  padding: 5dvh 0 5dvh;
  text-align: center;
}
.ashleyfont{
  font-family: quattrocento;  
}
.header{
  font-size: 3rem;
  letter-spacing: 5px;
}
.subheader{
  font-size: 1.5rem;
}
